fastapi
uvicorn


langchain
langchain-huggingface
langchain-groq
langchain-pinecone


pinecone-client
pinecone
langchain_community




python-dotenvfastapi
uvicorn
python-dotenv
langchain
langchain-groq
langchain-pinecone
langchain-huggingface
pinecone-client
pydantic
requests

